<div class="container-fluid">
    <div class="row" >
        <div class="col-md-2 card  text-center" style="height: 100vh;">
            <h1 class=" p-3">Dashboard</h1>
            <div class="card border-0">
                <button class="btn btn-secondary p-3 mb-2">Home</button>
                <button class="btn btn-secondary p-3 mb-2">Add Doctor</button>
                <button class="btn btn-secondary p-3 mb-2">Add Medi Services</button>
                <button class="btn btn-secondary p-3 mb-2">Add Review</button>
                <button class="btn btn-secondary p-3 mb-2">All Doctor List</button>
                <button class="btn btn-secondary p-3 mb-2">All Medi Services</button>
                <button class="btn btn-secondary p-3 mb-2">Order List</button>
                <button class="btn btn-secondary p-3 mb-2">Payment</button>
            </div>
        </div>
        <div class="col-md-10 mt-5">
            <app-add-doctor></app-add-doctor>
            <app-add-medi-service></app-add-medi-service>
        </div>
    </div>
</div>
<!-- <app-add-medi-service></app-add-medi-service>
<app-add-doctor></app-add-doctor>
<app-add-review></app-add-review> -->