<div class="container-fluid">
    <div class="row" >
        <div class="col-md-2 card  text-center" style="height: 100vh;">
            <h3 class=" p-3">Dashboard</h3>
            <div class="card border-0">
                <button (click)="addDoctor()" class="btn btn-secondary p-1 mb-1">Add Doctor</button>
                <button (click)="addMedi()" class="btn btn-secondary p-1 mb-1">Add Medi Services</button>
                <button (click)="sendReview()" class="btn btn-secondary p-1 mb-1">Send Review</button>
                <button (click)="doctorList()" class="btn btn-secondary p-1 mb-1">Doctor List</button>
                <button (click)="mediServicesList()" class="btn btn-secondary p-1 mb-1">Medi Services List</button>
                <button class="btn btn-secondary p-1 mb-1">Order List</button>
                <button class="btn btn-secondary p-1 mb-1">Appointment List</button>
                <button class="btn btn-secondary p-1 mb-1">Payment</button>
            </div>
        </div>
        <div [ngSwitch]="display" class="col-md-10 mt-5">
            <app-add-doctor *ngSwitchCase="'doctor'"></app-add-doctor>
            <app-add-medi-service *ngSwitchCase="'medi'"></app-add-medi-service>
            <app-add-review *ngSwitchCase="'review'"></app-add-review>
            <app-doctor-list *ngSwitchCase="'doctorList'"></app-doctor-list>
            <app-medi-services-list *ngSwitchCase="'mediServicesList'"></app-medi-services-list>
        </div>
    </div>
</div>
<!-- <app-add-medi-service></app-add-medi-service>
<app-add-doctor></app-add-doctor>
<app-add-review></app-add-review> -->