<div class="container">
  <h1 class="text-center">Our All Doctors</h1>
  <div class="row">
    <div class="col-lg-3 card" *ngFor="let doctor of Doctors">
      <div class="py-3">
        <img src="{{doctor.photo}}" alt="" height="300px" width="300px">
      </div>
      <div>
        <h5>{{doctor.name}}</h5>
        <h6>{{doctor.degree}}</h6>
        <p>{{doctor.hospital}}</p>

        <div class="card my-2">
          <button class="btn btn-success" (click)="openModal(doctor)">Appointment Now</button>
        </div>

      </div>
    </div>
  </div>
</div>
