<div class="container mt-5">
  <h1 class="text-center">Review</h1>
  <hr>
<div class="row mt-5 ">
    <div class="col " *ngFor="let review of reviews.slice(0,4)">
      <div class="card shadow border-0">
          <div class="mx-auto  p-3">
            <img src="{{review.photo}}" class="card-img-top rounded-circle " style="height: 100px; width: 100px;" alt="...">
            <h5 class="card-title my-2">{{review.name}}</h5>
          </div>
        
        <div class="card-body">
          
          <p class="card-text">{{review.review}}</p>
          <!-- <p>{{review.email}}</p> -->
        </div>
        <!-- <div class="card-footer">
          
            <button class="btn btn-danger btn-sm" (click)="deleteReview(review)"> Delete</button>
            <button class="btn btn-primary btn-sm me-4" (click)="openModal(review)">Update</button>
    row-cols-1 row-cols-md-3
        </div> -->
      </div>
    </div>
  </div>
</div>