<div class="container">
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th scope="col">Doctor Name</th>
        <th scope="col">Degree</th>
        <th scope="col">Hospital</th>
        <th scope="col">Email</th>
        <th scope="col">Mobile</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr scope="col table-secondary" *ngFor="let doctor of Doctors">
        <td class="table-secondary">{{ doctor.name }}</td>
        <td class="table-secondary">{{ doctor.degree }}</td>
        <td class="table-secondary">{{ doctor.hospital }}</td>
        <td class="table-secondary">{{ doctor.email }}</td>
        <td class="table-secondary">{{ doctor.mobile }}</td>
        <td class="table-secondary">
          <button class="btn btn-danger mx-1" (click)="deleteDoctor(doctor)">
            Delete
          </button>
          <button class="btn btn-primary mx-1" (click)="openModal(doctor)">
            Update
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
